<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO8z7bFQW_ajEz-0s7JBj7dp_MhAvab7c</string>
	<key>GCM_SENDER_ID</key>
	<string>751302366277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyname</string>
	<key>PROJECT_ID</key>
	<string>baby-name-7d86b</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-name-7d86b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751302366277:ios:2d7d09d73ca558e8653f2c</string>
</dict>
</plist>